<%= form_for @model do |f| %>

  <% if @model.errors.any? %>

    <div class="error">

      <% @model.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>

  <% end %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :category %>
    <%= f.text_field :category %>
  </p>

  <%= f.submit "Save Model"%>


<% end %>
